// bodge for https://github.com/vuejs/vuepress/issues/1467
.theme-container.no-sidebar
  .sidebar-links
    display none

.custom-block.tip
  border-color: #3d87ce;

.button
  display: inline-block;
  font-size: 1.2rem;
  color: white;
  background-color: #3d87ce;
  padding: .8rem 1.6rem;
  margin: 0.4rem 0.8rem;
  border-radius: 4px;
  box-sizing: border-box;
  border-bottom: 1px solid #3d87ce;

.button.secondary
  background-color: #ff793f;
  border-bottom: 1px solid #ff793f;
