name: "Update dependencies"

on:
  workflow_dispatch:
  schedule:
  - cron: "0 0 * * *"
  pull_request:
    paths:
    - '.github/workflows/deps.yml'

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Update to latest
      run: |
        sed -i 's^https://github.com/msys2/msys2-installer/releases/.*.tar.xz^'$(curl --silent "https://api.github.com/repos/msys2/msys2-installer/releases/latest" | jq -r '.assets[] | select(.content_type == "application/x-xz") | .browser_download_url')'^g' .env
        sed -i 's^https://github.com/Maximus5/ConEmu/releases/.*.7z^'$(curl --silent "https://api.github.com/repos/Maximus5/ConEmu/releases/latest" | jq -r '.assets[] | select(.content_type == "application/octet-stream") | .browser_download_url')'^g' .env
        sed -i 's^QMK_CLI_VER=.*^QMK_CLI_VER="'$(curl --silent "https://api.github.com/repos/qmk/qmk_cli/tags" | jq -r '.[0].name')'"^g' .env

    - name: Become QMK Bot
      run: |
        git config user.name 'QMK Bot'
        git config user.email 'hello@qmk.fm'

    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v4.0.1
      with:
        token: ${{ secrets.QMK_BOT_TOKEN }}
        base: main
        delete-branch: true
        author: QMK Bot <hello@qmk.fm>
        committer: QMK Bot <hello@qmk.fm>
        commit-message: Update latest dependencies
        title: '[CI] Update latest dependencies'
