name: "Update latest msys base"

on:
  schedule:
  - cron: "0 0 * * *"
  pull_request:
    paths:
    - '.github/workflows/deps.yml'

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        ref: main

    - name: Update to latest
      run: |
        sed -i 's^https://github.com/msys2/msys2-installer/releases/.*.tar.xz^'$(curl --silent "https://api.github.com/repos/msys2/msys2-installer/releases/latest" | jq -r '.assets[] | select(.content_type == "application/x-xz") | .browser_download_url')'^g' .env

    - name: Become QMK Bot
      run: |
        git config user.name 'QMK Bot'
        git config user.email 'hello@qmk.fm'

    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v3
      with:
        base: main
        delete-branch: true
        author: QMK Bot <hello@qmk.fm>
        committer: QMK Bot <hello@qmk.fm>
        commit-message: Update latest msys base
        title: '[CI] Update latest msys base'
