name: Generate Docs

on:
  push:
    branches:
    - main

  pull_request:
    paths:
    - 'docs/**'
    - '.github/workflows/docs.yml'
    - 'package.json'
    - 'yarn.lock'

jobs:
  generate:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-node@v3
      with:
        node-version: 16

    - name: Build docs
      run: |
        yarn install
        yarn build

    - name: Deploy
      if: ${{ github.event_name != 'pull_request' }}
      uses: JamesIves/github-pages-deploy-action@v4.4.3
      with:
        branch: gh-pages
        folder: .build/docs
        git-config-name: QMK Bot
        git-config-email: hello@qmk.fm
